*{
    margin: 0px;
    padding: 0px;
}
.banner{
    width: 100%;
    height: 80vh;
    background: rgba(0, 0, 0, 0.7) url('../imgs/wed.jpg');
    background-size: cover;
    background-blend-mode: darken;

}
.navbar{
   margin: 5px;
   padding: 5px;
  
}
.navbar li{
    
    font-size: 20px;
    float: right;
    margin: 10px;
    padding: 8px;
    list-style: none;
    
}
.navbar ul{
    display:inline;
    
}
.navbar li a{
    color: white;
    text-decoration: none;
     padding: 10px;
    margin: 10px; 
    font-size: larger;
    font-style: italic;
    font-family: cursive;
    border-radius: 15px;
    
}
.navbar li a:hover{
    color: red;
}
.logo img{
    height: 80px;
    width: 200px;
    border: 1px solid white;
    border-radius: 95px;
}
.info h1{
    margin-top: 200px;
    text-align: center;
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
}

.contact{
    background-color: #f6f5f4;
    height: 365px;
    border: 2px solid gray;
    border-radius: 20px;
    margin:10px;
    padding: 10px;
}
.text-center{

    text-align: center;
    padding-top: 30px;
   font-family: 'Ubuntu', sans-serif;
       font-size: 35px;
}

.form{
    max-width: 50%;
    margin: 25px auto;
}

.form-input{
    margin: 14px 0;
    padding: 5px 13px;
    width: 100%; 
    font-size: 19px;
    border: 2px solid grey;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn1{
 height: 30px;
 width: 60px;
 border-radius: 5px;
 background: rgb(240, 220, 240);
 
}
.main{
    background-color: #f6f5f4;
    height: 365px;
    border: 2px solid gray;
    border-radius: 20px;
    margin:10px;
    padding: 10px;
}
.main h2{
    color: red;
    padding: 8px;
}
.main h3{
    color: hsla(0, 85%, 3%, 0.966);
    padding: 5px;
    margin: 7px;
}
.flex{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box{
    height: 200px;
    width: 400px;
    margin: 5px;
    padding: 10px;
    color: grey;
    font-size: 20px;
}
.box h3{
    text-decoration: red underline;
    font-size: 25px;
}
.photos{
    background-color: #f6f5f4;
    height: 365px;
    border: 2px solid gray;
    border-radius: 20px;
    margin:10px;
    padding: 10px;
}
.photos h2{
    color: red;
    padding: 8px;
}
.photos h3{
    color: hsla(0, 85%, 3%, 0.966);
    padding: 5px;
    margin: 7px;
}
.photos img{
    height: 200px;
    width: 200px;
    margin: 10px;
    padding: 10px;
}
.details{
    background-color: #f6f5f4;
    height: 300px;
    border: 2px solid gray;
    border-radius: 20px;
    margin:10px;
    padding: 10px;
}
.details img{
    height: 46px;
    width: 151px;
    border: 2px solid white;
    border-radius: 80px;
}
.details h3{
    font-style: unset;
    
}
footer{
    text-align: center;
    font-style: italic;
}