body{
    background: linear-gradient(rgba(0,0,0,0.30),rgba(0,0,0,0.30)), url('../imgs/for.png');
    background-position: center; 
    background-size: cover;
    
}
form{
    width: 500px;
    height: 500px;
    text-align: center;
    margin: 0px 0px 0px 430px;
    padding: 35px 24px 24px 27px;
    color: white;
    font-size: 20px;
    border: 3px solid white;
    
}
h4{
    margin: 15px;
    padding: 10px;
    text-decoration: none;
    font-size: 24px;
    
}
h3{
    font-size: 15px;
}
#pink{
        height: 33px;
        width: 153px;
       color: white;
        font-size: 20px;
        background-color: rgb(245, 46, 55);
        border: none;
        border-radius: 5px;
}
#pink:hover{
    cursor: pointer;
}
h2{
    font-size: 50px;
    color: rgb(238, 234, 232);
    text-decoration: rgb(245, 43, 53)  underline;
}
input{
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: 10px;
}
#link{
    text-decoration: none;
    font-size: 30px;
}